<form action="{{ route('__MODULE__.__LP_NAME__.save') }}" method="POST" data-callback="__LP_NAME__::AfterFormSend" data-module="__LP_NAME__Form">
  @if(data.id)
  <input type="hidden" name="id" value="{{ data.id }}">
  @endif

  <!--FIELDS-->
</form>